.header-color {
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.profile-img {
    height: 275px;
    border-radius: 15px;
    border: 3px solid black;
    margin-top: 5em;
    max-width: 100%;
}

.banner-text {
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
}

.banner-text h1, h3 {
    font-size: 5rem;
    font-weight: bold;
    color: whitesmoke;
}

.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    color: whitesmoke;
    font-size: 2rem;
    padding: 1em;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin: auto;
}

.social-links i {
    color: whitesmoke;
    font-size: 5em;
    padding: 8px;
}

.projects-grid {
    display: flex;
    text-align: center;
    margin-top: 50px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-body {
    margin-top: 40px;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
}

.contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    background: white;
    color: black;
    margin-bottom: 20px;
}

.contact-grid h2 {
    font-family: "Anton", sans-serif;
}

.contact-grid p {
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
}

.contact-grid hr {
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
}

.contact-list i {
    font-size: 50px;
    padding-right: 1rem;
}

.resume-grid i {
    color: black;
    font-size: 4em;
    padding: 8px;
    padding-left: 50px;
}

.resume-right-col {
    background: #27221F;
    color: white;
    padding: 2em;
}

.schoolDescription ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

.about-grid img {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 2px solid black;
    border-radius: 15px;
}

.about-grid h3 {
    color: black;
    font-family: "Anton", sans-serif;
}

.about-grid p {
    color: black;
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
}

.about-left-col {
    margin-top: 20px;
    background: #f406fe;
    color: black;
    padding: 1em;
    border: 3px solid black;
    border-radius: 15px;
    height: 80%;
}

.about-mid-col {
    margin-top: 20px;
    background: #8269ef;
    color: black;
    padding: 1em;
    border: 3px solid black;
    border-radius: 15px;
    height: 80%;
}

.about-right-col {
    margin-top: 20px;
    background: #04d7de;
    color: black;
    padding: 1em;
    border: 3px solid black;
    border-radius: 15px;
    height: 80%;
}
.about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 15px;
    height: 500px;
}
